@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');
$primaryColor:palevioletred;


* {
  margin: unset;
  border: unset;
  padding: unset;
  outline: unset;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

form{
  input{
    color: $primaryColor;
    font-weight: 500;
    padding: 0.5em;
    margin: 0.5em 0 ;
    background: #fff;
    border: 1px solid #7159c1;
    border-radius: 3px;
    width:100%;
    height: 3em;
  }

  textarea{
    @extend input
  }

}

.button, button{

  &:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px black;
  }
  transition: 0.2s;
  margin: 0.5em 0;
  width: 100%;
  height: 3em;
  background-color: #de2041;
  border: none;
  border-radius: 3px;
  color:white;
  font-weight: 500;
}